body {
  background-color: #d6e6f2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-top-width: thick;
  border-top-color: #3b6978;
  height: 2px;
  width: 3%
}

h1,h3{
  color: #3b6978;
}
